<!-- Navbar -->
<nav
  class="main-header navbar navbar-expand navbar-white navbar-light"
  style="
    background: #cc023b;
    color: white;
    padding: 15px 0px;
    height: 102px;
    display: flex;
    justify-content: space-between;
  "
>
  <!-- Left navbar links -->
  <ul class="navbar-nav" style="color: white">
    <li class="nav-item">
      <a
        class="nav-link"
        style="color: white"
        data-widget="pushmenu"
        href="#"
        role="button"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
  </ul>
  <ul class="navbar-nav" style="color: white">
    <li class="nav-item">
      <a
        class="nav-link"
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: white;
        "
        href="#"
        role="button"
      >
        <div>{{ 'TITLE' | translate }}</div>

        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
          "
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              data-toggle="dropdown"
              href="#"
              style="color: white"
            >
            {{ 'SELECTION' | translate }}
              <i
                class="right fas fa-angle-left"
                style="margin-left: 10px; transform: rotate(-90deg)"
              ></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"> Cenit </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"> Veri </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"> Au </a>
            </div>
          </li>
          <span>|</span>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              data-toggle="dropdown"
              href="#"
              style="color: white"
            >
            {{ 'SELECTUSER' | translate }}
             
              <i
                class="right fas fa-angle-left"
                style="margin-left: 10px; transform: rotate(-90deg)"
              ></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"> Admin </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"> Coordinador </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"> Supervisor </a>
            </div>
          </li>
        </div>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav" id="name_lang">
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" style="color: white">
        Jainer Manuel Diaz Fernandez
        <i
          class="right fas fa-angle-left"
          style="margin-left: 10px; transform: rotate(-90deg)"
        ></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item"> Tipo Usuario: Admin </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item"> Mi Perfil </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item"> Cerrar sesion </a>
      </div>
    </li>

    <select #langSelect (change)="changeLang(langSelect.value)">
      <option *ngFor="let lang of langs" [value]="lang">
        {{ lang }}
      </option>
    </select>
  </ul>
</nav>
<!-- /.navbar -->
