<ul class="slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>

<div
  class="login-box"
  style="position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%)"
>
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <img
        class="img-responsive center-block"
        src="../../../assets/img/Content/logo_bv.gif"
        alt="Logo Bureau Veritas"
      />
    </div>
    
    <div class="card-body">
      <h3 class="text-center"><strong>VeriSmart</strong></h3>
      <form action="../../index3.html" method="post">
        <div class="input-group mb-2">
          <input type="user" class="form-control" placeholder="Ingrese su usuario" />
        </div>
        <div class="input-group mb-2">
          <input type="password" class="form-control" placeholder="Password" />
        </div>

        <div class="form-group">
          <select
            class="form-control"
            data-val="true"
            data-val-number="El campo División debe ser un número."
            data-val-required="The División field is required."
            id="IdDivision"
            name="IdDivision"
          >
            <option value="22">VeriSmart Argentina</option>
            <option value="21">VeriSmart Chile</option>
            <option value="20">VeriSmart Colombia</option>
            <option value="19">VeriSmart Ecuador</option>
            <option value="17">VeriSmart M&#233;xico</option>
            <option value="18">VeriSmart Per&#250;</option>
          </select>
        </div>
        <div class="row" id="btn-ini">
          <!-- /.col -->
          <div class="col-md-12" style="margin-top: 1.5em">
            <button type="submit" class="btn btn-danger btn-block">
              Iniciar sesión
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="forgot-password.html">Recordar contraseña</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
